<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <form action="/guestbook/modify" method="post">
      <input type="hidden" th:value="${requestDTO.page}" name="page" />
      <h1 class="mt-4">Guestbook Modify Page</h1>
      <div class="form-group">
        <label>글번호</label> <!-- 글번호는 pk이기 때문에 수정 불가능 -->
        <input type="text" class="form-control" name="gno" th:value="${dto.gno}"
               readonly>
      </div>
      <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control" name="title" th:value="${dto.title}">
      </div>
      <div class="form-group">
        <label>내용</label>
        <textarea class="form-control" name="content"
                  rows="5">[[${dto.content}]]</textarea> <!--여기선 인라인써야함 value가없기때문 -->
      </div>
      <div class="form-group">
        <label>작성자</label>
        <input type="text" class="form-control" name="writer" th:value="${dto.writer}"
               readonly>
      </div>

      <div class="form-group">
        <label>등록 일자</label>
        <input type="text" class="form-control" readonly
               th:value="${#temporals.format(dto.regDate,'yyyy/MM/dd HH:mm:ss')}">
      </div>

      <div class="form-group">
        <label>수정 일자</label>
        <input type="text" class="form-control"  readonly
               th:value="${#temporals.format(dto.modDate,'yyyy/MM/dd HH:mm:ss')}">
      </div>

      <div style="margin-bottom: 20px;"></div>
    </form>

    <button class="btn btn-primary modifyBtn">수정하기</button>
    <button class="btn btn-info listBtn">목록보기</button>
    <button class="btn btn-danger removeBtn">삭제하기</button>
    <div style="margin-bottom: 20px;"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
      var actionForm = $("form");
      $(".removeBtn").click(function(){
        actionForm.attr("action", "/guestbook/remove").attr("method","post");
        actionForm.submit();
      });
      $(".modifyBtn").click(function(){
        if(!confirm("수정하시겠습니까?")){
          return;
        }
        actionForm.attr("action", "/guestbook/modify").attr("method","post").submit();
      });
      $(".listBtn").click(function(){
        var pageInfo = $("input[name='page']"); //속성 선택자 (name ="")
        actionForm.empty; // page를 제외한 나머지 내용들 필요없음(value가 아님)
        actionForm.append(pageInfo); //페이지만 넘김
        actionForm.attr("action", "/guestbook/list").attr("method","get").submit();
        });
    </script>

  </th:block>
</th:block>
</html>